.my_widget-badge
  .widget__body
    padding 1.6vmin
    display flex
    justify-content center
    align-content stretch
    flex-direction column

  &__info
    display flex
    justify-content center
    align-items center

  &__name
    font-weight normal
    font-size 12px
    text-align center
